# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

.HA_VERSION
.ssh/id_rsa_rpi_display
HassIO-fe66053067fe.json
custom_components
home-assistant.log.1
python_scripts
tts
www
themes
recordings
home-assistant.log.fault
blueprints
